.navbar {
    background-color: lavenderblush;
}

body {
  background-image: url(watercolor.png);
  }

.nav-item {
    float: right;
    background-color: lavenderblush;
}

.nav-align-custom {
  display: flex;
  justify-content: right;
}

.img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    float: left;
}

.imgp {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 50px;
    padding: 30px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 25px;
    position: relative;
}

/* #exampleInputMessage1 {
    height: 40px;
} */

.footer .footer-bottom {
  background-color: lavenderblush;  
  height: 80px;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  border-top: 10px solid gainsboro;
  color: white;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
    }
  }
  @media screen and (max-width: 400px) {
    .column {
      width: 100%;
    }
  }