.navbar {
    background-color: lavender;
}

body {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);}

.nav-item {
    float: right;
    background-color: lavender;
}

.img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 5px;
    /* float: left; */
}

.imgp {
    max-width: 100%;
    height: auto;
}

.container {
    margin: 50px;
    padding: 30px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border-radius: 25px;
}

/* #exampleInputMessage1 {
    height: 40px;
} */

footer {
    position: sticky;
    text-align: center;
    padding: 20px;
    background-color: gainsboro;
    color: white;
}

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    .column {
      width: 100%;
    }
  }